# Dependencies
node_modules/

# Next.js build artifacts
.next/
.turbo/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
.DS_Store
*.pem

# Local env files
.env
.env.*

# Misc
package-lock.json
yarn.lock

